

<header class="header">社会人日記帳</header>
  <p><%= notice %></p>

  <div class ="content cleafix">
  <section class="main-header">
  </section>

  <%= link_to '新しくブログを投稿する', new_blog_path %>
<br>
<br>
<div class="container">
  <% @blogs.each do |blog| %>
  <div class="PhotoBox" class="col-sm-6 col-md-3">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <p>タイトル：<br><%= blog.title %></p>
        <p>今日のつぶやき：<br><%= blog.content %></p>

  <% unless blog.user_id != current_user.id %>
    <td><%= link_to 'Show', blog_path(blog.id) %></td>
    <td><%= link_to "Edit", edit_blog_path(blog.id) %></td>
    <td><%= link_to 'Delete', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  <% else %>
    <td><%= link_to 'Show', blog_path(blog.id) %></td>
      <% if @favorite.present? %>
        <td><%= link_to 'Unliked', favorite_path(blog_id: blog.id), method: :delete %></td>
      <% else %>
        <td><%= link_to 'わかる', favorites_path(blog_id: blog.id), method: :post %></td>
      <% end %>
  <% end %>

</div>
</div>
</div>
</div>
<% end %>