<h3><img src="/assets/blog.jpg" >詳細内容</h3>
<%= link_to 'ブログ一覧画面へ', blogs_path %>
<div class="wrapper">
  <div class="column">
    <div class="info" id="user">
      <div class ="mypage">
        <% if @blog.user.image? %>
          <%= image_tag @blog.user.image.thumb.url %>
        <% else %>
          <%= image_tag 'no_image.png' %>
        <% end %><%= @blog.user.name %>
          <p class ="mypage"ユーザー: <%= @blog.user.name %><br>
            タイトル: <%= @blog.title %><br>
            内容: <%= @blog.content %><br>
            <%= @blog.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="info">
      <h3 class ="mypage">
        <h2>コメント一覧</h2>
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
              <% if @comment.image? %>
                <%= image_tag @comment.image.thumb.url %>
              <% else %>
                <%= image_tag 'no_image.png' %>
              <% end %><%= comment.blog.user.name %>
            <p>
               コメント：<%= comment.content %><br><br>
          <% end %>
        <% end %>
        
        <h2>コメントを追加</h2>
          <%= form_for( [@blog, @blog.comments.build] ) do |f| %>
            <div class="comment_title">
              <%= f.text_area :content %>
            </div>
            <%= f.submit %>
          <% end %>
    </div>
  </div>
</div>

<p><%= notice %></p>
  <% if @blog.user_id == current_user.id %>
    <%= link_to edit_blog_path(@blog) do  %>
    <%= image_tag "edit.png" %>
    <% end %>
    <%= link_to blog_path(@blog), method: :delete, data: { confirm: '本当に削除していいですか？' } do  %>
    <%= image_tag "delete.png" %>
    <% end %>
    <%= link_to new_blog_comment_path(@blog) do  %>
    <%= image_tag "comment.png" %>
    <% end %>
  <% else %>
    <% if @favorite.present? %>
      <%= link_to favorite_path(blog_id: @blog.id), method: :delete do  %>
      <%= image_tag "unlike.png" %><% end %>
    <% else %>
      <%= link_to  favorites_path(blog_id: @blog.id), method: :post do %>
      <%= image_tag "heart.png" %><% end %>
    <% end %>
  <% end %>
<br>