<%= form_with(model: @comment, local: true,url: choose_new_or_edit) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= @comment.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :comment_user_id %>
  </div>

  <div class="field">
    <%= form.label :blog_id %>
    <%= form.number_field :blog_id, id: :comment_blog_id %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :comment_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>
