<p id="notice"><%= notice %></p>

<%= link_to '新しくコメントを投稿する', new_blog_comment_path(:blog_id) %>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Blog</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <ul>
    <% @comments.each do |comment| %>
      <% unless comment.id.nil? %>
      <li>
        <p class="left"><%= comment.user.name %>さんがコメントしました。</p>
        <p class="left"><%= comment.content %></p>
        
        <%= comment.user_id %>
        <%= comment.blog_id %>
        <%= comment.content %>
        <% if current_user.id == comment.user.id %>
        <%= link_to 'Show', comment %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
        <% end %>
      <% end %>
    <% end %>
 </ul>

<br>

