<body class ="login">
<p class = "sign-up">新規登録</p>

<p class = "announce">自社では話しにくいけど、誰かに話したい、共感して欲しい…</p>
<p class = "announce">そんな「つぶやきを吐き出してみませんか？</p>

<%= form_with(model: @user, local: true) do |f| %>  

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class ="login">
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>
  <div class="field">
 　　 <%= f.label :image %>
 　　 <%= f.file_field :image, id: :feed_image %>
 　　 <%= f.hidden_field :image_cache %>
  </div>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
<br>
</div>
  <%= f.submit "登録する" %>
<% end %>

<body>