<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<h2>お気に入り一覧</h2>

<h3>内容</h3>

<% @favorites.each do |favorite| %>
    <% favorite.user.id == current_user.id %>
    <p><%= favorite.content %></p>
<% end %>

<%= link_to 'ブログ一覧画面にもどる', blogs_path %>
<%= link_to '新しくブログを投稿する', new_blog_path %>