<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<h2>お気に入り一覧</h2>

<h3>内容</h3>

<% if @favorites.present? %>
  <% @favorites.each do |favorite| %>
    <p><%= favorite.blog.title %></p>
    <p><%= favorite.blog.content %></p>
  <% end %>
<% end %>

<%= link_to 'ブログ一覧画面にもどる', blogs_path %>
<br>
<%= link_to '新しくブログを投稿する', new_blog_path %>
